:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
  background-color: moccasin;
}

header {
  padding: 0 0.5em 0.5em 0.5em;
}

main {
  padding: 0 0.5em 0.5em 0.5em;
  width: 95%;
}

a {
  text-decoration: none;
  color: #000;
}

.greenSubdued {
  color: rgba(0, 128, 0, 0.653);
}
.redSubdued {
  color: rgba(128, 0, 0, 0.653);
}
.goldSubdued {
  color: rgba(218, 165, 32, 0.705);
}

.subduedRowText {
  color: #444;
  font-size: 0.9rem;
}

.quantity0 {
  color: #aaa;
}

.cartQty0 {
  color: #ababab;
}

.flexLeft {
  display: flex;
  justify-content: left;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addSection {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.inputClass {
  margin: 0.5rem;
  font-size: 1.4rem;
}

.oneHalfRemPadLeft {
  padding-left: 0.5rem;
}

.padAroundTiny {
  padding: 0.1rem;
}

.marginAroundTiny {
  margin: 0.1rem;
}

header {
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 0.5em;
  background-color: goldenrod;
}

ul {
  list-style: none;
  padding: 0;
}

.halfRemFont {
  font-size: 0.5rem;
}

.navUl {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.titleH1 {
  margin: 0;
}

.navImage {
  height: 2rem;
}

li,
.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel {
  color: #500;
}

button {
  background-color: transparent;
  font-size: 1.2em;
  padding-bottom: 0;
}

.navBtn {
  padding: 0.1rem;
  margin-left: 0.2rem;
  border-color: #ca9020;
}

.addListBtn,
.updateListBtn {
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  background-color: goldenrod;
}
.onClickDelete,
.onClickExit {
  padding: 0.2rem;
}

.priority {
  background-color: lightgray;
  padding: 0.4em;
  border-radius: 1em;
  margin: 0.2em 0 0.2em 0;
}

.priority3,
.priority4 {
  background-color: rgba(0, 155, 0, 0.653);
}

.priority2 {
  background-color: rgba(218, 165, 32, 0.392);
  color: black;
}

.cartPriority {
  font-size: 0.6rem;
}

.largeCart {
  font-size: 1.2rem;
}

.editItem {
  font-size: 0.5rem;
}

.priority1 {
  background-color: lightgray;
  color: black;
}

.titlePlaceHolder {
  color: darkgray;
}

.listTable {
  width: 100%;
}

.tableRow {
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listDescLiSection {
  justify-content: left;
}

.listDescInput {
  height: 4em;
  width: 100%;
  background-color: transparent;
  border-style: none;
  text-align: start;
}

.listDescInputDiv {
  width: 100%;
  margin: 0.5em;
  background-color: hsla(0, 0%, 0%, 0.1);
}

.optionsLi,
.switch-div {
  display: flex;
  align-items: center;
}

.addItemSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0 0.2em 0;
  font-size: 1em;
  color: #555;
}

.addLabel {
  display: flex;
  align-items: center;
}

.itemActions {
  display: flex;
  align-items: center;
}

.deletedItems {
  opacity: 0.4;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.3em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 0.3em;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #000;
  // padding: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  top: 0; //Menu placement
  right: 1rem; //Menu placement
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; //Allows menu to display over other elements
}

.show-menu {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.2rem 0.2rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  // background-color: #bbb;
}

/* Mobile */
@media (max-width: 800px) {
  .wideScreen {
    display: none;
  }
}

/* Wide Screen */
@media (min-width: 800px) {
  .mobile {
    display: none;
    :root {
      font: 24px / 1 sans-serif;
    }
  }
}
